@import '@xterm/xterm/css/xterm.css';

:root {
    --color-theme: #353838;
    --color-accent: #88f;

    --color-page-background: oklch(from var(--color-theme) calc(l - 0.06) c h);
    --color-area-background: var(--color-theme);
    --color-terminal-background: var(--color-area-background);

    --color-button-background: var(--color-theme);
    --color-button-border: var(--color-border);
    --color-button-text: var(--color-text);

    --color-button-hover-background: oklch(from var(--color-button-background) calc(l + 0.1) c h);
    --color-button-hover-border: oklch(from var(--color-button-border) calc(l + 0.2) c h);
    --color-button-hover-text: var(--color-button-text);

    --color-button-active-background: oklch(from var(--color-button-background) calc(l - 0.1) c h);
    --color-button-active-border: oklch(from var(--color-button-border) calc(l + 0.2) c h);
    --color-button-active-text: oklch(from var(--color-button-text) calc(l - 0.1) c h);

    --color-button-disabled-background: oklch(from var(--color-button-background) calc(l + 0.1) c h);
    --color-button-disabled-border: var(--color-button-border);
    --color-button-disabled-text: oklch(from var(--color-button-text) 0.7 c h);

    --color-tree-node-line-hover-background: oklch(from var(--color-theme) 0.8 c h / 0.2);

    --color-popup-backdrop: oklch(from var(--color-area-background) calc(l - 0.1) c h / 0.9);

    --color-border: oklch(from var(--color-theme) calc(l + 0.2) c h);
    --color-text: oklch(from var(--color-theme) 0.95 c h);
    --color-text-muted: oklch(from var(--color-theme) 0.7 c h);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    color: var(--color-text);
    background: var(--color-page-background);
    font-family: system-ui, sans-serif;
    font-size: 15px;
}

.main {
    position: relative;
    display: grid;
    grid-template-areas: 'terminal';
    gap: 8px;
    height: 100vh;

    &.wide {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 'terminal sidebar';
        padding: 8px;
    }
}

button {
    padding: 0 8px;
    background: var(--color-button-background);
    border: 1px solid var(--color-button-border);
    color: var(--color-button-text);
    border-radius: 0;
    font: inherit;
    font-size: 15px;
    line-height: 26px;

    &:not(:disabled) {
        &:hover {
            background: var(--color-button-hover-background);
            border-color: var(--color-button-hover-border);
            color: var(--color-button-hover-text);
        }

        &:active {
            background: var(--color-button-active-background);
            border-color: var(--color-button-active-border);
            color: var(--color-button-active-text);
        }
    }

    &:disabled {
        background: var(--color-button-disabled-background);
        border-color: var(--color-button-disabled-border);
        color: var(--color-button-disabled-text);
    }
}

.aligned-icon {
    vertical-align: middle;
    margin-block-start: calc(1ex - 1cap);
}

.area {
    display: flex;
    flex-direction: column;
    min-width: 0;
    min-height: 0;

    header {
        --header-height: 44px;

        display: flex;
        align-items: center;
        height: var(--header-height);
        gap: 16px;
        border-block-end: 1px solid var(--color-border);
        white-space: nowrap;

        h2 {
            width: fit-content;
            margin: 0;
            margin-block-start: 1px;
            margin-inline-end: auto;
            padding: 0 16px;
            font-size: 12px;
            font-weight: 500;
            line-height: calc(var(--header-height) - 1px);
            text-transform: uppercase;

            .icon {
                margin-inline-end: 4px;
            }
        }

        .area-visible-actions-wrapper {
            flex: 1;
            width: 0;
            height: 100%;
        }

        .area-visible-actions {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;
            height: 100%;
        }

        p {
            margin: 0;
            color: var(--color-text-muted);
        }

        button {
            .icon:has(+ *) {
                margin-inline-end: 4px;
            }
        }
    }

    .area-content {
        flex: 1;
        height: 0;
        background: var(--color-area-background);
        overflow: auto;
    }

    &:not(.padded) {
        header {
            padding-inline-end: 8px;
        }
    }

    &.padded {
        header {
            --header-height: 36px;

            h2 {
                border: 1px solid var(--color-border);
                border-block-end: none;
                background: var(--color-area-background);
            }

            .area-visible-actions {
                align-items: flex-start;
            }
        }

        .area-content {
            border: 1px solid var(--color-border);
            border-block-start: none;
        }
    }

    .area-actions-menu-wrapper {
        position: fixed;
        inset: 0;
        z-index: 10;
    }

    .area-actions-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: max-content;
        min-width: 200px;
        margin-block-start: -4px;
        border: 1px solid var(--color-border);
        box-shadow:
            rgb(0 0 0 / 0.25) 0 2px 4px,
            rgb(0 0 0 / 0.125) 0 4px 8px;

        --color-button-disabled-background: var(--color-button-background);

        button {
            border: none;
            line-height: 32px;
            text-align: left;
        }
    }
}

#terminal-area {
    grid-area: terminal;
}

#terminal {
    height: 0;
    font-family: monospace;
    font-size: 15px;
    overflow: hidden;

    /* !important is used to override inline styles */

    .xterm {
        padding: 8px;
    }

    .xterm-viewport {
        background-color: transparent !important;
    }

    &.session-ended :is(.xterm-helper-textarea, .xterm-cursor) {
        display: none;
    }
}

#file-tree-area {
    grid-area: sidebar;

    .area {
        height: 100%;
    }

    .main:not(.wide) & {
        position: absolute;
        inset: 0;
        height: 100dvh;
        background: var(--color-popup-backdrop);
        animation: 0.2s ease fade-in-background;

        .area {
            padding: 8px;
            animation: 0.2s ease slide-in;
        }

        @media (prefers-reduced-motion: reduce) {
            animation: 0.2s ease fade-in;

            .area {
                animation: none;
            }
        }

        &.animating-out {
            pointer-events: none;
            animation: 0.2s ease fade-out-background;

            .area {
                animation: 0.2s ease slide-out;
            }

            @media (prefers-reduced-motion: reduce) {
                animation: 0.2s ease fade-out;

                .area {
                    animation: none;
                }
            }
        }
    }
}

@keyframes fade-in-background {
    from {
        background: transparent;
    }
}

@keyframes fade-out-background {
    to {
        background: transparent;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(100%);
    }
}

@keyframes slide-out {
    to {
        transform: translateY(100%);
    }
}

.tree {
    padding: 8px 0;

    i, p {
        display: block;
        margin: 16px;
        color: var(--color-text-muted);
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 24px;
        list-style: none;

        .tree-node-line {
            display: grid;
            grid-template-columns: 16px 16px 1fr;
            align-items: center;
            gap: 4px;
            padding-inline-start: calc(16px + 20px * var(--level, 0));
            padding-inline-end: 16px;
            cursor: pointer;
            user-select: none;

            &:hover {
                background-color: var(--color-tree-node-line-hover-background);
            }

            &:focus {
                outline: 1px solid var(--color-accent);
                outline-offset: -1px;
            }

            .tree-node-chevron {
                grid-column: 1;
            }

            .tree-node-icon {
                grid-column: 2;
            }

            .tree-node-name {
                grid-column: 3;
            }
        }
    }
}
