@import './reset.css';
@import '@xterm/xterm/css/xterm.css';

html, body, .glasgow-app {
    height: 100%;
    background: black;
    color: white;
}

a {
    color: lightblue;
}

#terminal {
    height: 100%;
}

.glasgow-app {
    display: flex;
    flex-direction: column;
}

.glasgow-terminal {
    flex: 1;
    overflow: hidden;
}

.glasgow-bar {
    padding: 12px 20px;
}

.xterm-screen {
    padding: 12px;
}
